.smile {
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  z-index: 25;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.smile3d .smile {
  left: auto;
  right: 12%;
  top: 56%;
}

.smile--red {
  background-color: #d73a46;
}

.smile-space-style {
  transform-style: preserve-3d;
  perspective: 500px;
}

.smile.is-animated {
  transform: translateZ(100px) rotateY(45deg);
  transition: transform 1s ease;
}

/* Исходное положение смайлика (Тень) */
.smile3d__wrap::after {
  display: block;
}
